/* khai báo biến css */
:root{
    --primery-color: #ee4d2d;
   --white-color: #fff;
   --black-color: #000;
   --text-color: #333; 

   --navbar-height : 31px;
   --header-height : 120px;
   --header-with-search-height : calc(var(--header-height) - var(--navbar-height))
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 2.5rem;/* 1 rem = 10 px */
    font-family: 'Roboto', sans-serif;   
    box-sizing: border-box;
}
                        /* chuẩn bị để có thể reposive sau này */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
/* truong hop khong muon su dung width 1200px */
.grid__full-width{
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;

}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;

}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;

}

/* Animation */
/* hiện ra mờ mờ dần rõ */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Modal */
.modal{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: flex;
/* kết hợp với margin : auto để căn giữa theo chiều dọc và chiều ngang */

}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);


}
.modal__body{
    /* width: 400px;
    height: 400px; */
    position: relative;
    margin: auto;
    z-index: 1;
    

}

/* Button */
.btn{
    height: 34px;
    min-width: 124px;
    font-size: 1.4rem;
    background-color: var(--white-color);
    color: var(--text-color);
    border: none;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;

}
.btn.btn--size-s{
    height: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.btn.btn--primary{
    background-color: var(--primery-color);
    color: var(--white-color);
   

}

/* Selection */
.select-input{
    height: 34px;
    min-width: 180px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 0 12px;
   line-height: 34px;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   cursor: pointer;
   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.select-input__lable{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: #d0ccbe;
}
.select-input:hover .select-input__option {
    display: block;

}
.select-input__items a{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 2px 12px;
    color: var(--text-color);
}
.select-input__items a:hover {
    color: var(--primery-color);
}


/* pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;

}
.pagination-item{
    list-style: none;
    margin: 0 12px;

}
.pagination-item--active .pagination-item__link {
    background-color: var(--primery-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: rgb(161, 88, 10);
}
.pagination-item__link{
    --height : 30px;
    display: block;
    text-decoration: none;
    color: #a29999;
    font-size: 2rem;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
    /* margin-right: 50px; */
  

}


