.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6333 ,#f53e2d);
}
.header__navbar{
    display: flex;   /* để cho các thể ul có thể nằm trên cùng 1 hàng */
    justify-content: space-between;  /* đẩy các thẻ ul nằm ra 2 bên */
}
.header__navbar-list{
 list-style: none; /* bỏ các dấu chấm đầu dòng của thẻ li */
 padding-left: 0;
 margin: 4px 0 0 0;
 display: flex;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    justify-content: center;
}

.header__navbar-user{
    display: flex; 
}
.header__navbar-user:hover .header__navbar-user-list{
    display: block;
}
.header__navbar-user::before {
    content: "";
    width: 100%;
    height: 14px;
    background-color: transparent;
    position: absolute;
    top: 72%;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 7px;
}
.header__navbar-user-list{
    position: absolute;
    width: 160px;
   
    background-color: var(--white-color);
    z-index: 1;
    right: 0;
    top: calc(100% + 6px);
    box-shadow: 1px 0px 3px #888;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    
}
.header__navbar-user-list::before{
    content: "";
    border-width: 17px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color)transparent;
    position: absolute;
    top: -26px;
    right: 38px;
}

.header__navbar-user-option{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 12px;
    display: block;
   
}
.header__navbar-user-option--separate {
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.header__navbar-user-option:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 4px;
}
.header__navbar-user-option:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-option:hover {
    background-color: rgb(244, 240, 244);
    
}


.header__navbar-item,
.header__navbar-item-link{
    /* display: inline-block; */
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none; /* bỏ gạch chân  */
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover{
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 500;
}
/* tạo thanh trắng nằm giữa vào cửa hàng và kết nối và có thể dùng cho bên đk và đn */
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute; /* vị trí phụ thuộc vào class header__navbar-item */
    border-left: 1px solid #fa867b;
    height: 13px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);

}
.header__navbar-icon-link{
    text-decoration: none;
    color: #fff;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 4px;
}
.header__navbar-icon{
    font-size: 1.7rem;
    margin-left: 3px;
    margin-right: 4px;
}
/* tạo chữ kết nối khi di chuột vào xuất hiện mũi tên chuột và không mờ đi */
.text{
    cursor: default;
    color: var(--white-color);
}
                                    /* Làm QR code */
.header__qrcode{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 116%;/* so với vị trí của class header__navbar-item "Vào cửa hàng trên ứng dụng F8 Shop */
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 2s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__qrcode::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    left: 0;
    top: -16px;
}
.header__navbar-item--has_qr:hover .header__qrcode{
   display: block;
}
.header__qr-img{
    width: 100%;

}
.header__qr-apps{
    display: flex;/* đưa 2 hình lên ngang hàng với nhau */
    justify-content: space-between;
    position: absolute;
}
.header__qr-link{
    position: relative;
    top: -10px;
}
/* điều chỉnh 2 hình ảnh sao cho cân bằng..... có thể dùng lớp giả first-child để css đứa đầu tiên */
.header__qr-download-img{
  height: 15px;
  margin-left: 9px;
  margin-right: 5px;
}

/* CSS phần thông báo */
.header__notify{
    position: absolute;
    top: 124%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #D3D3D3;
    display: none;
    transform-origin: calc(100% - 32px) top;
    /* to dần từ góc trên bên trái và dùng calc để tránh việc sau này width có thay đổi thì vẫn không ảnh hưởng */
    will-change: opacity , transform;     /* Tối ưu chuyển động  */
    animation: headerNotify ease-in 0.25s;
    z-index: 2;
    border-radius: 2px;
}
/* tạo hình tam giác phần thông báo */
.header__notify::before{
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 2px;

}
.header__notify::after{
    content: "";
    position: absolute;
    width: 100%;
    background-color:transparent;
    top: -16px;
    height: 20px;
    display: block;
    cursor: default;

}
/* tạo annimation cho bản thông báo to dần từ 1 góc nào đó*/
@keyframes headerNotify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    cursor: default;

}

.header__notify-header h3 {
    color:#999 ;
    font-size: 1.4rem;
    line-height: 40px;    /* căn giữa theo chiều dọc */
    margin: 0 0 0 12px;
    font-weight: 400;
    user-select: none;
    /* không cho người dùng coppy */
}
.header__notify-list{

    padding-left: 0;
    list-style: none;
 


}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--seen {
    background-color: rgba(236, 75,43, 0.08);
}
.header__notify-item{


}
.header__notify-link{
    display: flex;
    padding-left: 12px;
    text-decoration: none;
    width: 100%;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;

}
.header__notify-info{

    margin-left: 12px;
}
.header__notify-name{ 
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin-top: 5px;
    margin-bottom: 6px;

}
.header__notify-descriotion{
   font-size: 1.2rem;
   color: var(--black-color);
   line-height: 1.4rem;
   display: block;
   margin-bottom: 20px;
}
.seenall{
   display: flex;
   /* dùng kết hợp với margin auto bên dưới để căn giữa chữ xem tất cả, nếu dùng text aline : center thì khi dùng padding nó sẽ không làm cho thẻ tổng quát lớn theo */
 
}
.seenall-btn{
    margin: auto;
    text-decoration: none;
    color: var(--black-color);
    padding: 12px 0;
    font-weight: 400;
}
.header__navbar-item:hover .header__notify{
    display: block;
}


/* Dựng form đăng ký đăng nhập */
.auth-form{
   width: 500px; 
   background-color: var(--white-color);
   border-radius: 5px;
   overflow: hidden;    /* khi thằng con vượt quá thằng cha thì ẩn đoạn quá đó của thằng con đi */
}
.auth-form__all{
    padding-left: 32px;
    padding-right: 32px;

}
.auth-form__header{
  display: flex;
  justify-content: space-between;
  align-items: center;/* làm cho đ.ký và đ.nhập ngang hàng với nhau */
}
.auth-form__heading{
 font-size: 2rem;
 font-weight: 500;
 color: var(--text-color);
 margin-left: 8px;
}
.auth-form__btn{
    font-size: 1.6rem;
    color: var(--primery-color);
    font-weight: 500;
    margin-right: 8px;
}
.auth-form__btn:hover{
    cursor: pointer;
}
.auth-form__form{

}
.auth-form__input{

  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  outline: none;

}
.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.4rem;

}
.auth-form__text{

}
.auth-form__link{
    text-decoration: none;
    color: var(--primery-color);

}
.auth-form__btn-control{
    margin-top: 60px;
    display: flex;
    justify-content: right;
    margin-bottom: 14px;
}
.btn-control-back {
    margin-right: 8px;
}
.btn-control-back:hover{
    background-color: #dbdbdb;
}
.auth-form_social{
    background-color: #dbdbdb;
    display: flex;
    justify-content: space-between;
    padding: 10px 32px;
}
.btn.btn--with-icon{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 32px;
   
}
.auth-form_social-icon {
    font-size: 20px;
    margin-right: 28px;
 
}
.auth-form_social--fb{
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form_social--fb
.auth-form_social-icon{
    color: var(--white-color);
}
.auth-form_social--gg
.auth-form_social-icon{
    color: red;
}


/* phần đăng nhập */
.auth-form__aside-help{
    margin-top: 18px;
    display: flex;
    justify-content: right;
}
.auth-form__aside.auth-form_aside-login{
    margin-right: 0;
    
}
.auth-form__forget-link{
    color: var(--primery-color);
    text-decoration: none;
    margin-right: 30px;
}
.auth-form__help-link{
    text-decoration: none;
    color: #888;
}

/* Header phần tìm kiếm */

.header-with-search{
    height:  var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px ;
}

.header__logo {
    width: 200px;
}
.header__logo-img {
    width: 150px;
    color: var(--white-color);
    margin-right: 45px;
}
.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1; /* để chiều ngang của ô tìm kiếm chiến hết phần chiều ngang còn lại */
    border-radius: 2px;
    padding-left: 16px;
    /* overflow: hidden; không thể dùng overflow hidden ở đây tại vì khi nhập tìm kiếm còn hiện phần lịch sử(con của input) nên dùng cách khác*/
    display: flex;  /* cho những thứ nằm trong lên cùng một hàng */
  
    align-items: center;
}
.header__cart {
    width: 150px;
    display: flex;
    /* để có thể căn giữa theo chiều ngang còn có thể dùng text aligh center, dùng cho thằng cha chứa thằng con cần center */
    align-items: center;
    /* position: relative; */
}
.header__cart-icon {
    font-size: 2.2rem;
    margin: auto;
    color: var(--white-color);
  
}
.header__cart-number{
    top: -10px;
    background-color: var(--white-color);
    font-size: 1.2rem;
    padding: -1px 15px;
    padding: 2px 8px;
    border-radius: 10px;
    color: #f95030;
    position: absolute;
    left: 15px;
    border-color: #f95030;
    border: solid 1px #f95030;
    /* align-items: center; */
    line-height: 1.2rem;
}
.header__cart-wrap{
    margin: auto;
    position: relative;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 9px);
    right: -14px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    text-align: center;
    box-shadow: 1px 1px 3px #d0ccbe;
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
    z-index: 1;
}

/* Có sản phẩm */
.header__cart-heading{
   font-size: 1.4rem;
   font-weight: 400;
   color:  #a7a7a7 ;
   text-align: left;  
   /* Làm cho chữ sản phẩm đã thêm từ ở giữa chuyển sang bên trái */
   margin: 2px 12px;

  
   /* display: block; */
 
    
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 40vh;
    overflow-y: auto;
    

}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-img{
    width: 41px;
    height: 41px;
    border: solid 1px #c5c5c5;
    margin: 12px;

}
.header__cart-item-infor{
    width: 100%;
    margin-right: 12px;


}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 12px; */
   

}
.header__cart-item-name{
    line-height: 2rem;
    max-height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1;
    text-align: left;


}
.header__cart-item-wrap{

}
.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primery-color);

}
.header__cart-item-multiply{
    color: #757575;
    margin: 0 2px;

}
.header__cart-item-number{
    color: #757575;
    font-size: 1.1rem;

}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
   

}
.header__cart-item-discription{
    font-size: 1.2rem;
    color:  #a7a7a7 ;
    font-weight: 300;

}
.header__cart-item-delete{
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
}
.btn__seen-cart{
   float: right; /* đẩy nút xem tất cả sang bên phải */
  font-size: 1.3rem;
  margin: 0 12px 12px 0;
  line-height: 34px;
}
.btn__seen-cart:hover{
   background-color: #e56d50;
}
.header__cart-item-delete:hover {
    color: var(--primery-color);
}
.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .nocart_text{
    display: block;
    margin-left: auto;
    margin-right: auto;

    
}
.header__cart-list::before {
    content: "";
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -34px;
    right: 1%;
    cursor: pointer;


}
.header__cart-list--no-cart-img{
    display: none;
    width: 50%;
    margin-bottom: 10px;
    /* font-size: 1.4rem; */
}

.nocart_text {
    /* display: block; */
    font-size: 1.5rem;
    font-weight: 500;
    display: none;
}
.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
/* phần nhập tìm kiếm */
.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px; 
}

.header__search-select{
    
    border-left: solid 1px #888;
    padding-left: 16px;
    position: relative;
}
.header__search-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #d0ccbe;
    margin: 0 10px;
    /* kết hợp position relative để di chuyển dấu tick xuống một xíu so với vị trí ban đầu của nó */
   position: relative;
   top: 1px; 

}
.header__search-btn{
    background-color: var(--primery-color);
    /* font-size: 8.8rem; */
    height: 33px;
    width: 50px;
    /* display: flex;
    align-items: center; */
    /* margin: auto; */
    margin-right: 4px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.header__search-btn:hover{
    background-color: #e56d50;
    cursor: pointer;
}
.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.4rem;
    /* margin: auto; */
}
.header__search-option{
    position: absolute;
    padding: 0;
    width: 132px;
    height: 80px;
    background-color: var(--white-color);
    top: 63%;
    left: -8%;
    border-radius: 2px;
    display: none;
    cursor: default;
    box-shadow: 0 1px 1px #ccc;   /* tạo bóng đổ  */
    animation: fadeIn ease-in 0.2s;
    margin-top: 20px;
    margin-bottom: 0;
    /* overflow: hidden; */
    z-index: 1;
}
.header__search-option::before {
    content: "";
    width: 100%;
    height: 20px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: -14%;
   
}
.header__search-option-item{
    list-style: none;
    font-size: 1.4rem;
    color: var(--text-color);
    /* display: flex;
    align-items: center; */
    padding: 8px 0;
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item span {
    margin-left: 18px;
}
.header__search-option-item:hover{
    background-color: #f2f1f1;

}
.header__search-item-icon{
    color: var(--primery-color);
    position: relative;
    right: -16px;
 
}
.header__search-select:hover .header__search-option{
    display: block;
}

/* Search history */

.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: -16px;
    width: calc(100% - 16px);
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 0 3px #666;
    display: none;
    z-index: 1;

}
.header__search-history-heading{
    font-size: 1.4rem;
    font-weight: 100;
    color: #999;
    margin: 10px 20px 0 20px;
}
.header__search-history-list{
    padding: 0;
    margin: 0;
  
}
.header__search-history-items{
    list-style: none;
    padding: 0 20px;
    height: 38px;
    font-size: 1.4rem;
    text-decoration: none;
    /* kết hợp giữa flex và align-item : center để căn giữa chữ bên trong theo chiều dọc */
    /* display: flex;
    align-items: center;
     */
}
.header__search-history-items:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}
.header__search-history-items:hover{
    background-color: #f3efef;
}
.header__search-history-items a{
    text-decoration: none;
    color: var(--text-color);
    line-height: 38px;
    display: block;
    /* khi không có display block thì thẻ a rất nhỏ, khi thêm vào display block thì nó sẽ tự động kê thừa chiều ngang của cha nó nếu nó không được set chiều ngang */
    /* tác dụng cũng như align item ở trên. dùng line-heigt cho chính thằng con với giá trị là chiều cao của thằng cha */
}
/* .header__search-history-items-hover{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
} */

/* app container */
.app__container {
    background-color: #f5f5f5;
}
.app__content {
    padding-top: 32px;
}
.category {
    background-color: var(--white-color);
    border-radius: 2px;

}
.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 10px 16px 0;
    align-items: center;
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.05); */
    margin-top: 0;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}
.category-list {
    padding: 0 0 8px 0;
    list-style: none;
   

}
.category-item {
    position: relative;

} 
.category-item:first-child::before {
    display: none;
}
.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}
.category-item--active .category-item__link{
    color: var(--primery-color);

}
.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border-width: 5px 5px;
    border-color: transparent transparent transparent var(--primery-color);
    border-style: solid;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
}


.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    display: block;
    padding: 12px 28px;
    transition: right linear 0.1s ;
    right: 0;
    line-height: 1.8rem;
                                    /* khi di chuột vào sẽ đi từ từ từ trái sang phải. kết hợp giữa position right và hover */
}
.category-item__link:hover {
    right: -4px;
    color: var(--primery-color);
}


/* Home body */
.home-filter{
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__title{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.home-filter__title-btn{
    margin-right: 12px;
    min-width: 90px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primery-color);
}

/* Selection */

.select-input:hover .select-input__option {
    display: block;

}


.select-input__option{
    background-color: var(--white-color);
    list-style: none;
    width: 100%;
    padding: 4px 0;
    position: absolute;
    top: calc(100% - 8px);
    left: 0;
    border-radius: 2px;
    display: none;
    z-index: 1;
}
.select-input__option::before{
    content: "";
    width: 100%;
    height: 8px;
    top: calc(100% - 86px);
    position: absolute;
    background-color: transparent;
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);

}

.home-filter__page-btn{
    flex: 1;
    background-color:var(--white-color);
    text-align: center;
    line-height: 36px;
    /* để căn giữa 2 icon ta còn có thể cho ở đây display : flex và dưới class icon ta dùng margin :auto*/
}
.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;

}
.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-btn:first-child{
    border-right: solid 1px rgba(0, 0, 0, 0.1);
}
.home-filter__page-icon{
    font-size: 1.2rem;
    color: #555;

}


/* product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    transition: top linear 0.1s;
    top: 0;
    /* border-bottom-right-radius:2px ;
    border-bottom-left-radius:2px ;
    border-top-left-radius:2px ; */
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #757575;
    text-decoration: none;
    display: block;
}
.home-product-item:hover {
    top: -1px;
    box-shadow: 0px 1px 10px 0 #757575;
}
.home-product-item__img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-top-left-radius:2px ;
  border-top-right-radius:2px ;

}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 10px 6px;
    height: 3.6rem;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Một số trình duyệt không hổ trợ thì dùng như sau */
    /* display: block;
    text-overflow: ellipsis;
    white-space: nowrap; */

}
.home-product-item__price{
  
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

}
.home-product-item__price-old{
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;

}
.home-product-item__price-new{
    font-size: 1.6rem;
    color: var(--primery-color);
    margin-left: 10px;
   
  

}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 6px;

}
.home-product-item__like{
    font-size: 1.3rem;

}
i.home-product-item__like-icon-fill{
    color: #f63d30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__vote{
    font-size: 0.8rem;
    color: rgb(183, 180, 180);
    /* transform: scale(0.3);
    transform-origin: right; */
    margin-left: auto;

}
.home-product-item__vote--star-gold{
    color:#ffce3e;
}
.home-product-item__sold {
    font-size: 1.3rem;
    margin-left: 5px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 0;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.65);

}
.home-product-item__brand{

}
.home-product-item__origin-name{

}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primery-color);
    background-color: currentColor;
    /* lay mau cua color lam mau background */
    
    
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favourite span{
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    
}
.home-product-item__favourite::before {
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    filter: brightness(60%);
    border-left: 4px solid transparent;
    top: 100%;
    left: 0px;

}
.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
  
}
.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 2px;

}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off-percent{
    font-size: 1.2rem;
    font-weight: 600;
    color: #ee4d2d;
    line-height: 1.2rem;
    position: relative;
    top: -1px;

}
.home-product-item__sale-off-lable{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white-color);
    line-height: 1.3rem;
    position: relative;
    top: -9px;

}

/* pagination-main */
.pagination-main {
    margin-top: 44px;
    margin-bottom: 36px;
}

/* footer */
.footer {
    border-top: solid 4px var(--primery-color);
    
}
.footer__heading{
    font-size: 1.3rem;
    text-transform: uppercase;

}
.footer-list{
    list-style: none;
    padding: 0;
   

}
.footer-item{
   

}
.footer-item__link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #9a9999;
    display: flex;
    align-items: center;

}
.footer-item__link-icon {
    color: rgb(54, 54, 54);
    margin-right: 8px;
    font-size: 1.7rem;
}
.footer-item__link:hover {
    color: var(--primery-color);
}
.footer__download{
    display: flex;
    justify-content: left;

}
.footer__downloand-qr{
    height: 50ox;
    width: 100px;
    font-size: -6.6rem;
    /* display: block; */
    height: 98px;
    border: 1px solid #c3c3c3;
}



.footer__app{
    margin: 20px 0px 20px 20px;
    position: relative;

}
.footer_app-img{
    height: 20px;
    display: block;

}
.footer__app-link:last-child {
    position: absolute;
    bottom: 0;
    
}
/* footer end */
.footer__end {
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 18px;
    padding-bottom: 18px;
}
.footer-end__heading-list{
    list-style: none;
     display: flex;
    align-items: center;
   justify-content: center; 


}
.footer-end__heading-item{
    margin: 18px 4px 10px 0;

}
.footer-end__heading-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    text-transform: uppercase;
    display: block;
    margin: 18px 25px 10px 0;
    position: relative;
    line-height: 1.3rem;
}
.footer-end__heading-link::before{
    content: "";
    position: absolute;
    border-right: 1px solid #c4bbbb;
    height: 123%;
    top: -2px;
    right: -16px;

}
.footer-end__heading-img{
   height: 60px;
   display: inline-block;
   margin: auto;

 

}
.footer-end__heading-title{
    display: block;
    color: var(--text-color);
    font-size: 1.3rem;

}
.footer-end__heading-title-first {
    margin-bottom: 7px;
}
.footer-end__heading-title-last {
    margin-bottom: 20px;
}



